body{
    font-family: "Roboto", sans-serif;
    color:var(--slate);
    background-color: var(--white);
}
:root{
    --navyblue: #2E2F42; 
    --white: #FFF;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --slate: #434455;
    --ocean: #404bbf;
    --cornflower: #E7E9FC;
    --font-family:"Roboto", sans-serif;
}
.address{font-style: normal;}

h1, h2, h3, p{
margin-top: 0;
margin-bottom: 0;}
ul{
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }
.image{display: block;}

.visually-hidden{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.header{border-bottom: 1px solid #e7e9fc;}

.header .container{
    display: flex;
    justify-content: space-between;}

.logo-link{
color: var(--iris);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}
.logo-accent{color: var(--navyblue,);
    font-family: "Raleway", sans-serif;
    font-size: 18px;    
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;}

    link .logo-link{
    text-decoration: none;
    display: flex;
    gap: 40px;
    padding: 24px 0;
    margin-right: 76px;}

.nav{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;}
   
    .nav .list{display: flex;
        gap: 40px;
        padding: 24px 0;
        margin-right:
        align-items: flex-start;
        margin-right: 332px;}

    .address .list{
        display: flex;
        gap: 40px;
        padding: 24px 0;
        margin-right: 156px;
        align-items: flex-start;}
    
    .list{list-style: none;}

    .nav-link{
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration:none;}
    link .nav-link{
        list-style: none;
        padding: 24px 0;}
    .nav-link:hover,
    .nav-link:focus{color: var(--ocean);}

    .contact-link{color:var(--slate);
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;}
    .contact-link:hover,
    .contact-link:focus{color: var(--ocean);}

    .section-one{background-color: var(--navyblue);
        display: block;
        padding: 188px 0;}

    .section-one-title{color: var(--white);
        background-color: var(--navyblue);
        text-align:center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 48px;}
    
    .button{
        color: var(--white);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color:var(--iris);
        cursor: pointer;
        display: block;
        margin: 356px 635px 188px 636px;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
    border: none;}
    .button:hover,
    .button:focus{
        background-color:var(--ocean);
        border: 1px solid transparent;}           

    .section-three-title{color: var(--navyblue);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;}
        

    .section-four{background-color: var(--cloud);}
    .section-four-title{color: var(--navyblue);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;}
    

    .portfolio-button{color: var(--iris);
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--cloud);
        cursor: pointer;}
    .portfolio-button:hover,
    .portfolio-button:focus{background-color:var(--ocean);
    color: var(--white);}
    .portfolio-button:active{background-color: var(--ocean);
        color: var(--white);}

.list-title{color: var(--navyblue);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;}
.list-text{
color: var(--slate);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.hero-list-item{background-color: var(--white);}
.hero-name{color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing:0.02em;}

ul{list-style-type: none;}
.image-list{list-style: none;}

.portfolio-list{list-style: none;}
.portfolio-link{text-decoration: none;}
.portfolio-list-title{color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}
.portfolio-list-item{color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;}
.portfolio-list-item-text{color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}

footer{background-color: var(--navyblue);}
.footer .logo-accent{color: var(--cloud)}
.footer-text{color: var(--cloud,);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
