body{
    font-family: "Roboto", sans-serif;
    color:var(--slate);
    background-color: var(--white);
}
:root{
    --navyblue: #2E2F42; 
    --white: #FFF;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --slate: #434455;
    --ocean: #404bbf;
    --cornflower: #E7E9FC;
    --font-family:"Roboto", sans-serif;
}
.address{font-style: normal;}

h1, h2, h3, h4, h5, h6, p{
margin: 0;}
ul{
margin: 0;
padding-left: 0;}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;}

img{display: block;
max-width: 100%;
height: auto;}

.visually-hidden{position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.header{border-bottom: 1px solid #e7e9fc;}

.header .container{
    display: flex;
    justify-content: space-between;
align-items: center;}

.logo-link{
color: var(--iris);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
margin-right: 76px;}

.logo-accent{color: var(--navyblue,);
    font-family: "Raleway", sans-serif;
    font-size: 18px;    
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;}

link .logo-link{
    text-decoration: none;
    display: flex;
    gap: 40px;
    padding: 24px 0;}

.nav{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;}
   
.nav .list{display: flex;
        gap: 40px;
        align-items: flex-start;}

.address .list{
        display: flex;
        gap: 40px;
        align-items: flex-start;}
    
.list{list-style: none;
        display:flex;}

.nav-link{
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration:none;
    padding: 24px 0;
display: block;}

link .nav-link{list-style: none;
    margin-right: 332px;}
    .nav-link:hover,
    .nav-link:focus{color: var(--ocean);}

    .contact-link{color:var(--slate);
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;}
    .contact-link:hover,
    .contact-link:focus{color: var(--ocean);}

    .section-one{background-color: var(--navyblue);
        display: block;
        padding: 188px 0;
        height: 600px;
        }

    .section-one-title{color: var(--white);
        background-color: var(--navyblue);
        text-align:center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin: 0 auto;}
    
    .button{
        color: var(--white);
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color:var(--iris);
        cursor: pointer;
        display: block;
        margin: 0 auto;
        margin-top: 48px;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        border: none;}
    .button:hover,
    .button:focus{
        background-color:var(--ocean);
        border: 1px solid transparent;} 
        
.section-two{padding: 120px 0;}
        
.section-two .list{
        display: flex;
        gap: 24px;
        margin: 0 auto;}
.list .list-item{
        width:264px;
        margin: 0 auto;}

.list-title{margin-bottom: 8px;}

.section-three{padding-bottom: 120px;}
        
.section-three-title{color: var(--navyblue);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin: 0 auto;
        margin-bottom: 72px;}
.section-three .list{
        display: flex;
        margin: 0 auto;
        gap:24px;}

.image-list-item{width: calc((100% - 48px) /3);}     

.section-four{
    background-color: var(--cloud);
    padding: 120px 0;}

.section-four .list{
        display: flex;
        gap: 24px;}
.section-four-title{color: var(--navyblue);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;}

.hero-list-item .hero-name{
        display: block;
        gap: 32px;}
   
.hero-list-item  .list-text{
    text-align: center;}

.hero-description{padding: 32px 0;}

.portfolio-section{padding-top: 96px;
        padding-bottom: 120px;}

.button-list{
    display:flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;}

.product-list{
    display:flex;
    flex-wrap: wrap;
    column-gap:24px;
    row-gap: 48px;}

.portfolio-button{color: var(--iris);
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--cloud);
        cursor: pointer;
        padding: 12px 24px;
        border-radius: 4px;
        border: 1px solid var(--cornflower);    
    }

.portfolio-button:hover,
.portfolio-button:focus{
    background-color:var(--ocean);
    color: var(--white);
    border: 1px solid transparent;}

.portfolio-button:active{background-color: var(--ocean);
        color: var(--white);}

.list-title{color: var(--navyblue);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;}
.list-text{
color: var(--slate);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;}

.hero-list-item{background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) /4);
}

.hero-name{color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing:0.02em;
    margin-bottom: 8px;}

ul{list-style-type: none;}
.image-list{list-style: none;}

.portfolio-list{list-style: none;}
.portfolio-link{text-decoration: none;}
.portfolio-list-title{color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;}

.portfolio-list-item{width: calc((100% - 48px) /3);}

.portfolio-list-item-text{color: var(--slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.portfolio-container{
    border: 1px solid var(--cornflower);
    border-top: none;
    padding: 32px 16px;}

.footer{background-color: var(--navyblue);
padding: 100px 0;}

.footer .logo-link{
    display: inline-block;
    margin: 0px 0px 16px 0px;}

.footer .logo-accent{color: var(--cloud);
padding: 0;}

.footer-text{color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;}
